@{
    Layout = null;
}
<div ng-controller="NewIssueController" class="popup ng-cloak new-issue" ng-class="{'open':newIssuePopupOpen}">
    <div class="header">
        <h4 class="pull-left bread">CREATE NEW ISSUE</h4>
        <img src="/Content/Images/close.png" class="pull-right close" ng-click="closeNewIssuePopup()" />
    </div>
    <div class="content">
        <form name="issueForm" ng-init="init()">
            <div class="col-md-8">
                @*<div class="form-group">
                    <label>PROJECT <i class="fa fa-asterisk red" title="Required field"></i></label>
                    <select id="projects" style="width:100%" ng-disabled="issue.saving" ng-model="issue.projectId" ng-options="item.Id as item.Name for item in projectList.data" required="" tabindex="1"></select>
                </div>*@
                <div class="form-group">
                    <label>Summary <i class="fa fa-asterisk red" title="Required field"></i></label>
                    <input id="issuetitle" type="text" class="form-control" ng-disabled="issue.saving" ng-model="issue.title" autofocus required="" placeholder="Enter one-line summary of the issue." tabindex="2">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-disabled="issue.saving" ng-model="issue.description"
                              placeholder="What steps will reproduce this issue?

1. What is the expected output? What do you see instead?
2. What version of the product are you using? And on what browser/operating system?
3. Please provide any additional information below." tabindex="3"></textarea>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="minor">
                    <label>PROJECT <i class="fa fa-asterisk red" title="Required field"></i></label>
                    <select id="projects" style="width:100%" ng-disabled="issue.saving" ng-model="issue.projectId" ng-options="item.Id as item.Name for item in projectList.data" required="" tabindex="1"></select>
                </div>
                <div class="minor">
                    <label>TYPE</label>
                    <select id="types" style="width:100%" ng-disabled="issue.saving" ng-model="issue.type" ng-options="item.Id as item.Name for item in issueTypes.data" tabindex="4"></select>
                </div>
                <div class="minor">
                    <label>PRIORITY</label>
                    <select id="priorities" style="width:100%" ng-disabled="issue.saving" ng-model="issue.priority" ng-options="item.Id as item.Name for item in issuePriorities.data" tabindex="5"></select>
                </div>
                <div class="minor">
                    <label>ASSIGNEE</label>
                    <select id="assignees" style="width:100%" ng-disabled="issue.saving" ng-model="issue.assignee" ng-options="item.Id as item.FirstName for item in projectUsers.data" tabindex="6"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div ng-show="issue.saveFailure" class="text-danger mb10">Oops! This is embarassing, something went wrong. Please try again.</div>
                <div ng-show="issue.saveFailureDuplicate" class="text-danger mb10">A project with same name already exits. Please try again with a different name.</div>
                <button ng-hide="issue.saving" type="submit" class="btn btn-success"
                        ng-click="saveIssue();" ng-disabled="issueForm.$invalid" tabindex="6">
                    Create issue
                </button>
                <button ng-show="issue.saving" class="btn btn-success" disabled="disabled">Submitting issue</button>
            </div>
        </form>
        @*<pre>{{issue}}</pre>*@
    </div>
</div>
