@{
    Layout = null;
}
<div id="second-nav" ng-controller="ProjectController" ng-init="init()" class="header clearfix ng-cloak">
    <h4 class="pull-left crumb bread">
        <a href="#dashboard">My Projects</a>
        <i class="fa fa-caret-right"></i>
        <a href="#project/{{project.data.id}}">{{project.data.Name}}</a>
    </h4>
    <div class="inner-nav pull-right">
        <a ng-class="{'active': currentPage == 'issues'}" href="#/project/{{projectId}}/issues">
            <i class="fa fa-tasks"></i>
            <span>Issues</span>
        </a>
        <a ng-class="{'active': currentPage == 'documents'}" href="#/project/{{projectId}}/documents">
            <i class="fa fa-file-text-o"></i>
            <span>Docs</span>
        </a>
        <a ng-class="{'active': currentPage == 'team'}" href="#/project/{{projectId}}/team">
            <i class="fa fa-users"></i>
            <span>Team</span>
        </a>
        <a ng-class="{'active': currentPage == 'settings'}" href="#/project/{{projectId}}/settings">
            <i class="fa fa-cog"></i>
            <span>Settings</span>
        </a>
    </div>
</div>

