<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=1cce0dc4-30e5-4c3a-a75b-a4df00669416.sqlserver.sequelizer.com;Database=db1cce0dc430e54c3aa75ba4df00669416;User ID=tlglraomwflzjwed;Password=SJGYHuHcngs7kSmCDEhwrUbWSc8cxETLj4KsuwEz2nnHQKska6zYUWY7GSfEuFLP;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name='projectmanagement' connectionString="metadata=res://*/EntityFramework.Sy.csdl|res://*/EntityFramework.Sy.ssdl|res://*/EntityFramework.Sy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=1cce0dc4-30e5-4c3a-a75b-a4df00669416.sqlserver.sequelizer.com;Database=db1cce0dc430e54c3aa75ba4df00669416;User ID=tlglraomwflzjwed;Password=SJGYHuHcngs7kSmCDEhwrUbWSc8cxETLj4KsuwEz2nnHQKska6zYUWY7GSfEuFLP;&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=97c3a470-a57f-44a2-a372-a5640071034f.sqlserver.sequelizer.com;initial catalog=db97c3a470a57f44a2a372a5640071034f;user id=hyamfybtltrlwcpr;password=qtAbK5gkjoQmyj6WwYLVHJDYmYkv8MqiNWCwBRiuZXs7qYvsX3dcAXhNXJWUSTmE;App=ProjectManagement" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ProjectManagementEntities" connectionString="metadata=res://*/EntityFramework.ProjectManagement.csdl|res://*/EntityFramework.ProjectManagement.ssdl|res://*/EntityFramework.ProjectManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=97c3a470-a57f-44a2-a372-a5640071034f.sqlserver.sequelizer.com;initial catalog=db97c3a470a57f44a2a372a5640071034f;persist security info=True;user id=hyamfybtltrlwcpr;password=qtAbK5gkjoQmyj6WwYLVHJDYmYkv8MqiNWCwBRiuZXs7qYvsX3dcAXhNXJWUSTmE;multipleactiveresultsets=True;application name=ProjectManagementWebApp&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <!--<staticContent xdt:Transform="Insert">
      <remove fileExtension=".woff" />
      --><!-- In case IIS already has this mime type --><!--
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>-->
  </system.webServer>
</configuration>
